{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/script.js' %}"></script>
    <title>Id</title>
</head>

<body>
    <div class="container flex section">
        <div class="main flex-col">

            <div class="title">
                <h1>Profile</h1>
            </div>
            <div class="container flex">
                <div class="profile_picture" style="width:50%">
                    <img src="{{profile_model.profile_picture.url}}" alt="" height="200px" width="200px">
                </div>
                <div class="details flex-col" style="margin:20px 20px; gap:10px; width: 50%;">
                    <div class="type">
                        <h2>{{profile_model.user_type| upper}}</h2>
                    </div>
                    <div class="title-name">
                        <p><b>Name :</b><br> {{user_model.first_name}} {{user_model.last_name}}</p>
                    </div>
                    <div class="email">
                        <p><b>Email :</b><br> {{user_model.email}}</p>
                    </div>
                    <div class="address">
                        <p><b>Address :</b><br> {{address_model.house_details}},<br>{{address_model.street}} <br> {{address_model.city}}, {{address_model.state}},<br> {{address_model.pincode}}</p>
                    </div>

                </div>
                
            </div>
            <div class="flex">
                    <form action="logout" method="get">
                        <input type="submit" value="Logout" style="background-color: red;">
                    </form>
                </div>

        </div>
    </div>
</body>

</html>